  <!DOCTYPE html>
  <html lang="en">
    <%- include('Header') -%>
    <body>
      <div id="app">
        <section class="hero is-dark" style="width: 100%;">
          <div class="hero-body">
            <p class="title">
              SHIRT SOCCER ONLINE
            </p>
            <p class="subtitle">
              ALL SHIRT PREMIUM QULITY
            </p>
            <div class="navbar-end">
              <a class="button is-primary is-inverted is-medium has-text-black"
                href="/">
                <span>Logout</span>
              </a>
            </div>
            <div id="navbarMenuHeroA" class="navbar-menu" style="padding-bottom:
              45px;">
              <div class="navbar-end">
                <span class="navbar-item">
                  <a class="button is-link is-inverted is-medium" href="/Landing_Page">
                    <span>Home</span>
                  </a>
                </span>
                <span class="navbar-item">
                  <a class="button is-primary is-inverted is-medium" href="/ManageProduct">
                    <span>Manage Product</span>
                  </a>
                </span>
                <span class="navbar-item">
                  <a class="button is-warning is-inverted is-medium
                    has-background-white" href="/Cart">
                    <span>Checkout</span>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </section>
        <table style="margin-top: 45px;margin-left: 25%;">
          <tr>
            <div>
              <th style="padding: 50px;">
                <a href="/addProductPre">
                  <figure class="image is-128x128">
                    <img class="is-rounded"
                      src="https://thumbs.dreamstime.com/b/premier-league-often-referred-to-outside-england-as-english-epl-top-level-football-system-contested-clubs-202403499.jpg">
                  </figure>
                </a>
              </th>
              <th style="padding: 50px;">
                <a href="/addProductLa">
                  <figure class="image is-128x128 ">
                    <img class="is-rounded"
                      src="https://fontlot.com/wp-content/uploads/2022/12/2-2.jpg">
                  </figure>
                </a>
              </th>
              <th style="padding: 50px;">
                <a href="/addProductBun">
                  <figure class="image is-128x128">
                    <img class="is-rounded"
                      src="https://i.pinimg.com/736x/37/aa/3c/37aa3c8ee1919e73bea2f1b4b100795d.jpg">
                  </figure>
                </a>
              </th>
            </div>
          </tr>
        </table>
        <div style="text-align: center;margin-top: 40px;font-size: 45px;">
          <strong>SELECT THE LEAGUE TO MANAGE PRODUCT</strong>
        </div>
      </div>
      <footer class="footer">
        <div class="content has-text-centered">
          <p>
            <strong>Created By </strong> APISORN TEEHOR <br>
            WEB PROGRAMING KMITL
          </p>
        </div>
      </footer>
      <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
      <!-- vue script -->
      <script>
        var app = new Vue({
          el:'#app',
        })
      </script>
    </body>
  </html>